body{
    background-color: #007070;
    color: aliceblue;
    font: normal 15px arial;
}

.titulo{
    text-align: center;

}

.sessao{
    
    border-radius: 8px;
    padding: 15px;
    width: 33%;
    margin: auto;
    box-shadow: 5px 5px 10px #3e4646;

    background-color: aliceblue;
    color: darkblue;
}